extend layout

block content
  div.container
    h1 Hello #{name} !
    form#logout(action='/logout', method="get")
      .form-group
        button.btn.btn-danger(type='submit') Log out
    button.btn.btn-success#get-metrics Display Metrics
    br
    #metrics

    script
      :coffee-script
        $('#get-metrics').one 'click', (e) ->
          e.preventDefault()
          $.getJSON '/metrics.json', (metrics) ->
            $('#content').empty()
            c = ""
            for metric in metrics
              c+="<p>timestamp: #{metric.timestamp}<br/>value: #{metric.value}"
            $('#metrics').append c
