extend layout
block head
  script(src="/js/jquery.2.1.4.min.js")
  script(src="/js/bootstrap.min.js")
  link(rel="stylesheet", href="/css/bootstrap.min.css")

block content
  .jumbotron
    .container
      #form 
      h1 Please login to your account
      hr
      form.col-md-offset-3.col-md-9#login(action='/login', method="post")
        .form-group
          label Username
          input(type='text', name="username")
        .form-group
          label Password
          input(type='password', name="password")
        .form-group.col-md-3
          button#login_submit.btn.btn-primary.btn-block(type='submit')
            i.icon-ok.icon-white
            | Login
      br
      form.col-md-offset-3.col-md-9#signup(action='/signup', method="get")
        .form-group.col-md-3
          button.btn.btn-success.btn-block(type='submit') Sign Up !
