extend layout
block head
  script(src="/js/jquery.2.1.4.min.js")
  script(src="/js/bootstrap.min.js")
  link(rel="stylesheet", href="/css/bootstrap.min.css")

block content
  #form
  p Please login to your account
  hr
  form#login(action='/login', method="post")
    .form-group
      label Username
      input(type='text', name="username")
    .form-group
      label Password
      input(type='password', name="password")
    button#login_submit.btn.btn-primary.btn-block(type='submit')
      i.icon-ok.icon-white
      | Connect
    hr
    button.btn.btn-success.btn-block(type='button', href='/login') Login
