extend layout

block content
  .container-fluid
    #title
      h1 Welcome to MetricsManager 1.0

    #form
      h2 Please enter account information
      hr
      form.col-md-offset-2.col-md-8#login(action='/signup', method="post")
        .form-group
          label Username
          input(type='text', name="username")
        br
        .form-group
          label Name
          input(type='text', name="name")
        br
        .form-group
          label Password
          input(type='password', name="password")
        br
        .form-group
          label E-mail
          input(type='text', name="name")
        br
        .form-group.col-md-offset-3.col-md-4
          button#register_submit.btn.btn-primary.btn-block(type='submit')
            i.icon-ok.icon-white
            | Register
